form {
  background-color: #d0e9d8;
  display: flex;
  justify-content: space-around;
}
input {
  color: #18ab29;

  width: 35px;
  background-color: white;
  border-radius: 28px;
  border: 1px solid #18ab29;
  font-size: 17px;
  padding: 6px 10px;
  margin: 15px 0 15px -100px;
  text-align: center;
  font-weight: bold;
}

input[type="submit"] {
  width: 125px;
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 6px 20px;
  margin-left: 200px;
}

input[type="submit"]:hover {
  background-color: #ffffff;
  color: #18ab29;
}

input[type="submit"]:disabled {
  cursor: not-allowed;
}

label {
  font-size: 20px;
  font-weight: bold;
  color: white;
  outline-color: #18ab29;
  margin-top: 15px;
  text-shadow: 2px 2px 0px rgba(23, 206, 52, 0);
}
